
:root {
  /* Color variables */
  --navbar-text-color: #707070;
  --seagreen-bg-color: #C7EADD;
  --title-color: #707070;
  --white-bg-color: #ffffff;

  /* Element sizes */
  --container-width: 1090px;
  --navbar-height: 105px;
  --screen-height: 1080px;
  --navbar-avatar-height: 45px;
  --navbar-avatar-width: 45px;

  /* Font properties */
  --navbar-brand-font-size: 30px;
  --navbar-link-font-size: 20px;
  --landing-title-line-height: 98px;
  --landing-title-font-size: 72px;
  --landing-title-font-weight: 800;
}

/* Applies to all */
* {
  font-family: 'Nunito Sans', serif;
}

.container {
  width: var(--container-width);
}

.italic-text {
  font-style: italic;
}

/* Navbar */
#wrapper {
  align-items: center;
  display: flex;
  height: var(--navbar-height);
  justify-content: center;
}

.custom-container {
  width: var(--container-width);
}

.navbar-brand {
  color: var(--navbar-text-color);
  font-size: var(--navbar-brand-font-size);
  font-weight: 700;
}

.nav-link {
  color: var(--navbar-text-color);
  font-size: var(--navbar-link-font-size);
}

.rounded-circle.z-depth-0 {
  height: var(--navbar-avatar-height);
  width: var(--navbar-avatar-weight);
}

/* Landing page */

.landing-background-initial {
  background-color: var(--seagreen-bg-color);
  height: var(--screen-height);
}

.landing-title-text {
  color: var(--title-color);
  font-size: var(--landing-title-font-size);
  font-weight: var(--landing-title-font-weight);
  line-height: var(--landing-title-line-height);
}